extends layout

block content

	.container.no-wrap
		.content.languages
			.title= title
			.heading Select Language
			form(method='post')
				select.list-only(name='language')
					each language, code in languages
						option(value=code)= language
				button.btn.btn-success(type="submit") Select