doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		block styles

	body
		block content
		script(src='/js/jquery-1.12.0.min.js')
		script(src='/js/script.js')
